.board {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-columns),
    minmax(calc((100% - (var(--grid-columns) * 0.2rem)) / var(--grid-columns)), 3rem)
  );
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-gap: 0.2rem;
  place-items: center;
}
