.histogram {
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(1rem, 1.5rem);

  &__bar {
    background-color: $color-highlight;
    color: $color-white;
    border-radius: 0.1rem 0.1rem 0 0;
    -webkit-border-radius: 0.1rem 0.1rem 0 0;
    -moz-border-radius: 0.1rem 0.1rem 0 0;
    -ms-border-radius: 0.1rem 0.1rem 0 0;
    -o-border-radius: 0.1rem 0.1rem 0 0;
    position: relative;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 85%;
    font-weight: 700;

    &:after {
      content: attr(data-value);
      position: absolute;
      bottom: -1rem;
      left: 0;
      text-align: center;
      width: 100%;
      color: var(--color-font);
    }
  }
}
