.statistics {
  &__metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    text-align: center;
  }

  &__value {
    font-size: 150%;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__name {
    font-size: 90%;
  }

  &__subtitle {
    text-align: center;
    font-size: 100%;
    margin-bottom: 1rem;
  }

  &__histogram {
    margin: 2rem 0 2.5rem;
  }

  &__share {
    margin: 1rem 0;
  }

  &__share-buttons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 0.5rem;

    button {
      background-color: $color-highlight;
      color: $color-white;
      font-size: 90%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      -o-border-radius: 0.25rem;
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 0.5rem;
      box-shadow: 0 0.125rem 0.2rem rgba($color-black, 0.5);
      transition: all 0.1s ease-in-out;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;

      &:hover {
        transform: translateY(-0.1rem);
        -webkit-transform: translateY(-0.1rem);
        -moz-transform: translateY(-0.1rem);
        -ms-transform: translateY(-0.1rem);
        -o-transform: translateY(-0.1rem);
}

      img {
        width: 1rem;
        height: 1rem;
        filter: $color-icon-white;
        -webkit-filter: $color-icon-white;
      }
    }
  }
}

@media only screen and (min-width: $xl) {
  .statistics {
    /*    padding: 3rem $horizontal-padding-desktop-large; */
  }
}
