$max-width: 30rem;

body {
  color: var(--color-font);
  background-color: var(--color-primary);
  width: 100vw;
  height: 100vh;
  font-size: 0.85rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: 0.125rem solid $color-highlight;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

button,
input,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

#app {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-font);
  background-color: var(--color-primary);
  display: grid;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 0.5rem 1rem;
  height: 100vh;

  .header {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
  }

  .board {
    margin: 0 auto 1rem;
    height: max-content;
    overflow: auto;
    padding: 1rem 0.5rem 0.5rem;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .keyboard {
    max-width: $max-width;
    margin: auto auto 0;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .slide-fade-enter-active {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
  }

  .slide-fade-leave-active {
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateY(-100%);
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
}

@media only screen and (min-width: $xs) {
  #app {
    padding: 0 1rem 1rem;

    .board {
      font-size: 0.9rem;
      width: auto;
    }
  }
}

@media only screen and (min-width: $lg) {
  #app {
    .board {
      align-self: center;
    }
  }
}

@media only screen and (min-width: $xl) {
}
